In [1]:
import pandas as pd
from gene_classes import *

In [2]:
def build_dataframe_from_file(file_path): 
    data = []

    with open(file_path, "r") as file:
        while True:
            line = file.readline()
            if not line:
                break 

            first_line = line.strip()
            parts = first_line.split(maxsplit = 1)
            sequence_id = parts[0]
            sequence_description = parts[1] if len(parts) > 1 else ""

            sequence = ""
            while True:
                line = file.readline().strip()
                if not line or line[0] == ">":
                    break
                sequence += line

            data.append({"sequence_id": sequence_id,
                         "sequence_description": sequence_description,
                         "sequence": sequence})
            
            if line and line[0] == ">":
                file.seek(file.tell() - len(line) - 1)

    df = pd.DataFrame(data)
    df.set_index("sequence_id", inplace=True)
    return df

In [3]:
def create_gene_objects(df):
    gene_objects = []
    for sequence_id, row in df.iterrows():
        gene = Gene(sequence_id, row["sequence_description"], row["sequence"])
        gene_objects.append(gene)
    return gene_objects

In [4]:
file_path = "mtDNA_dataset.txt"
df = build_dataframe_from_file(file_path)
df

,sequence_description,sequence
sequence_id,,
>NC_000001,"Species_1 mitochondrion, complete genome",CCGGCAGGAACTGCTAACACATAATCGGCGTTTTGAAGTTCGCAAG...
>NC_000002,"Species_2 mitochondrion, complete genome",TAAGTAATCTTGCGCTACACCTGCCTGCTCAAGTTTTTCCCACTAC...
>NC_000003,"Species_3 mitochondrion, complete genome",AAGTCAAAGGCGGGATCATTAACGGCCTTGGGCGACGGGAGTGCCA...
>NC_000004,"Species_4 mitochondrion, complete genome",CTATGCGTCCACAGGGTGATTACGCTGCCAACGGTAATGCAACAGA...
>NC_000005,"Species_5 mitochondrion, complete genome",GTGGGCGGGAGACGGTAATCGGACGCTTCGCTTGTCAAAAGGATTA...
...,...,...
>NC_000096,"Species_96 mitochondrion, complete genome",ACTCTCCCTATGCTGTTAGAGGTCATATAACTAAAGGTCGTGTAAC...
>NC_000097,"Species_97 mitochondrion, complete genome",CACGGCCCTGCGATCTTTCAGACCGCTAAGACTCACCAGGGCTCAG...
>NC_000098,"Species_98 mitochondrion, complete genome",ACTAGCCGCTGGCCCTCCAGGGTAATCGGACTGCAGATATATACTG...
>NC_000099,"Species_99 mitochondrion, complete genome",AGCCCATGACTTGGCAGAAGCGAGTCAGTTCTAGATACCCATCCCC...
>NC_000100,"Species_100 mitochondrion, complete genome",CATGGTCCACTTCCGCCATCACCGAAGAAAATAGTGGATCTGTTTG...

In [5]:
def create_gene_objects(df):
    gene_objects = []
    for sequence_id, row in df.iterrows():
        gene = Gene(sequence_id, row["sequence_description"], row["sequence"])
        gene_objects.append(gene)
    return gene_objects

In [6]:
giovanni=create_gene_objects(df)
luca=giovanni[0]

In [8]:
luca

In [17]:
list_genes=create_gene_objects(df)
list_genes

[<gene_classes.Gene at 0x7228c00206b0>,
 <gene_classes.Gene at 0x7228c0020080>,
 <gene_classes.Gene at 0x7228c00207d0>,
 <gene_classes.Gene at 0x7228c0020710>,
 <gene_classes.Gene at 0x7228c0020680>,
 <gene_classes.Gene at 0x7228c0020620>,
 <gene_classes.Gene at 0x7228c00202f0>,
 <gene_classes.Gene at 0x7228c0020890>,
 <gene_classes.Gene at 0x7228c00208f0>,
 <gene_classes.Gene at 0x7228c0020950>,
 <gene_classes.Gene at 0x7228c00209b0>,
 <gene_classes.Gene at 0x7228c0020a10>,
 <gene_classes.Gene at 0x7228c0020a70>,
 <gene_classes.Gene at 0x7228c0020ad0>,
 <gene_classes.Gene at 0x7228c0020b30>,
 <gene_classes.Gene at 0x7228c0020b90>,
 <gene_classes.Gene at 0x7228c0020bf0>,
 <gene_classes.Gene at 0x7228c0020c50>,
 <gene_classes.Gene at 0x7228c0020cb0>,
 <gene_classes.Gene at 0x7228c0020d10>,
 <gene_classes.Gene at 0x7228c0020d70>,
 <gene_classes.Gene at 0x7228c0020dd0>,
 <gene_classes.Gene at 0x7228c0020e30>,
 <gene_classes.Gene at 0x7228c0020e90>,
 <gene_classes.Gene at 0x7228c0020ef0>,
 <gene_classes.Gene at 0x7228c0020f50>,
 <gene_classes.Gene at 0x7228c0020fb0>,
 <gene_classes.Gene at 0x7228c0021010>,
 <gene_classes.Gene at 0x7228c0021070>,
 <gene_classes.Gene at 0x7228c00210d0>,
 <gene_classes.Gene at 0x7228c0021040>,
 <gene_classes.Gene at 0x7228c0021160>,
 <gene_classes.Gene at 0x7228c00211f0>,
 <gene_classes.Gene at 0x7228c0021250>,
 <gene_classes.Gene at 0x7228c00212b0>,
 <gene_classes.Gene at 0x7228c0021310>,
 <gene_classes.Gene at 0x7228c0021370>,
 <gene_classes.Gene at 0x7228c00213d0>,
 <gene_classes.Gene at 0x7228c0021430>,
 <gene_classes.Gene at 0x7228c0021490>,
 <gene_classes.Gene at 0x7228c00214f0>,
 <gene_classes.Gene at 0x7228c0021550>,
 <gene_classes.Gene at 0x7228c00215b0>,
 <gene_classes.Gene at 0x7228c0021610>,
 <gene_classes.Gene at 0x7228c0021670>,
 <gene_classes.Gene at 0x7228c00216d0>,
 <gene_classes.Gene at 0x7228c0021730>,
 <gene_classes.Gene at 0x7228c0021790>,
 <gene_classes.Gene at 0x7228c00217f0>,
 <gene_classes.Gene at 0x7228c0021850>,
 <gene_classes.Gene at 0x7228c00218b0>,
 <gene_classes.Gene at 0x7228c0021910>,
 <gene_classes.Gene at 0x7228c0021970>,
 <gene_classes.Gene at 0x7228dab77200>,
 <gene_classes.Gene at 0x7228c019bc20>,
 <gene_classes.Gene at 0x7228dab61580>,
 <gene_classes.Gene at 0x7228ce9d9a60>,
 <gene_classes.Gene at 0x7228dab93a40>,
 <gene_classes.Gene at 0x7228c0060d40>,
 <gene_classes.Gene at 0x7228c00608c0>,
 <gene_classes.Gene at 0x7228c0021af0>,
 <gene_classes.Gene at 0x7228c0021c10>,
 <gene_classes.Gene at 0x7228c00219d0>,
 <gene_classes.Gene at 0x7228c0021a00>,
 <gene_classes.Gene at 0x7228c0021bb0>,
 <gene_classes.Gene at 0x7228c0021b50>,
 <gene_classes.Gene at 0x7228c00201d0>,
 <gene_classes.Gene at 0x7228c0021ac0>,
 <gene_classes.Gene at 0x7228c0021cd0>,
 <gene_classes.Gene at 0x7228c0021d30>,
 <gene_classes.Gene at 0x7228c0021d90>,
 <gene_classes.Gene at 0x7228c0021df0>,
 <gene_classes.Gene at 0x7228c0021f70>,
 <gene_classes.Gene at 0x7228c0020830>,
 <gene_classes.Gene at 0x7228c0021a30>,
 <gene_classes.Gene at 0x7228e358b650>,
 <gene_classes.Gene at 0x7228e17f9550>,
 <gene_classes.Gene at 0x7228e358af60>,
 <gene_classes.Gene at 0x7228e358a960>,
 <gene_classes.Gene at 0x7228e358a7e0>,
 <gene_classes.Gene at 0x7228e358b4d0>,
 <gene_classes.Gene at 0x7228c00ba570>,
 <gene_classes.Gene at 0x7228c00ba5d0>,
 <gene_classes.Gene at 0x7228c00ba810>,
 <gene_classes.Gene at 0x7228c00ba510>,
 <gene_classes.Gene at 0x7228c00ba720>,
 <gene_classes.Gene at 0x7228c00ba660>,
 <gene_classes.Gene at 0x7228c00ba870>,
 <gene_classes.Gene at 0x7228c00ba8d0>,
 <gene_classes.Gene at 0x7228c00ba930>,
 <gene_classes.Gene at 0x7228c00ba990>,
 <gene_classes.Gene at 0x7228c00ba9f0>,
 <gene_classes.Gene at 0x7228c00baa50>,
 <gene_classes.Gene at 0x7228c00baab0>,
 <gene_classes.Gene at 0x7228c00bab10>,
 <gene_classes.Gene at 0x7228c00bab70>,
 <gene_classes.Gene at 0x7228c00babd0>,
 <gene_classes.Gene at 0x7228c00bac30>,
 <gene_classes.Gene at 0x7228c00bac90>,
 <gene_classes.Gene at 0x7228c00bacf0>]

In [19]:
test_gene=list_genes[0]
test_gene.