In [21]:
import pandas as pd
from gene_classes import *

In [22]:
def build_dataframe_from_file(file_path): 
    data = []

    with open(file_path, "r") as file:
        while True:
            line = file.readline()
            if not line:
                break 

            first_line = line.strip()
            parts = first_line.split(maxsplit = 1)
            sequence_id = parts[0]
            sequence_description = parts[1] if len(parts) > 1 else ""

            sequence = ""
            while True:
                line = file.readline().strip()
                if not line or line[0] == ">":
                    break
                sequence += line

            data.append({"sequence_id": sequence_id,
                         "sequence_description": sequence_description,
                         "sequence": sequence})
            
            if line and line[0] == ">":
                file.seek(file.tell() - len(line) - 1)

    df = pd.DataFrame(data)
    df.set_index("sequence_id", inplace=True)
    return df

In [23]:
def create_gene_objects(df):
    gene_objects = []
    for sequence_id, row in df.iterrows():
        gene = Gene(sequence_id, row["sequence_description"], row["sequence"])
        gene_objects.append(gene)
    return gene_objects

In [24]:
file_path = "mtDNA_dataset.txt"
df = build_dataframe_from_file(file_path)
df

,sequence_description,sequence
sequence_id,,
>NC_000001,"Species_1 mitochondrion, complete genome",CCGGCAGGAACTGCTAACACATAATCGGCGTTTTGAAGTTCGCAAG...
>NC_000002,"Species_2 mitochondrion, complete genome",TAAGTAATCTTGCGCTACACCTGCCTGCTCAAGTTTTTCCCACTAC...
>NC_000003,"Species_3 mitochondrion, complete genome",AAGTCAAAGGCGGGATCATTAACGGCCTTGGGCGACGGGAGTGCCA...
>NC_000004,"Species_4 mitochondrion, complete genome",CTATGCGTCCACAGGGTGATTACGCTGCCAACGGTAATGCAACAGA...
>NC_000005,"Species_5 mitochondrion, complete genome",GTGGGCGGGAGACGGTAATCGGACGCTTCGCTTGTCAAAAGGATTA...
...,...,...
>NC_000096,"Species_96 mitochondrion, complete genome",ACTCTCCCTATGCTGTTAGAGGTCATATAACTAAAGGTCGTGTAAC...
>NC_000097,"Species_97 mitochondrion, complete genome",CACGGCCCTGCGATCTTTCAGACCGCTAAGACTCACCAGGGCTCAG...
>NC_000098,"Species_98 mitochondrion, complete genome",ACTAGCCGCTGGCCCTCCAGGGTAATCGGACTGCAGATATATACTG...
>NC_000099,"Species_99 mitochondrion, complete genome",AGCCCATGACTTGGCAGAAGCGAGTCAGTTCTAGATACCCATCCCC...
>NC_000100,"Species_100 mitochondrion, complete genome",CATGGTCCACTTCCGCCATCACCGAAGAAAATAGTGGATCTGTTTG...

In [25]:
def create_gene_objects(df):
    gene_objects = []
    for sequence_id, row in df.iterrows():
        gene = Gene(sequence_id, row["sequence_description"], row["sequence"])
        gene_objects.append(gene)
    return gene_objects

In [26]:
giovanni=create_gene_objects(df)
luca=giovanni[0]

In [29]:
luca.sequence_id

'>NC_000001'